@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This is a sample deployment of the MVC 4 Web Application using VS 2012 and The Entity Framework
    </p>
</article>

<aside>
    <p>&nbsp;</p>
   
</aside>